<%- include("partials/header.ejs") %>

    <div class="mesh-bg">
        <div class="logo-container">
            <div class="logo-header">Weatherby</div>
            <img src="/assets/images/WBlogo(1).svg" alt="Weatherby logo">
        </div>

        <% if (locals.data) {%>
            <div class="result">
                <%=weatherDesc %>, <%=temperature %>°F in
                        <%=cityName %>,
                            <%=stateName %> (<%=countryName %>).
            </div>
            <% } %>

                <% if (locals.error) { %>
                    <p>
                        <!-- Show any errors that were sent from the backend -->
                        <%=error %>
                    </p>
                    <% } %>

    </div>

    </body>

    </html>